.board {
    width:800
}

.square {
    height: 100px;
    width: 100px;
    margin: 0px;
    padding:0px;
}

.black {
    background-color: black;
    color: white;
}

.white {
    background-color: white;
}

.row {
    display:flex;
}