.board {
    width:800
}

.square {
    height: 100px;
    width: 100px;
    margin: 0px;
    padding:0px;
    font-size: 70px;
}

.black {
    background-color: darkgoldenrod;
}

.white {
    background-color: beige;
}

.row {
    display:flex;
}