* {
  box-sizing: border-box;
}

body {
  background-image: url(../assets/marble1.jpg);
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Aboreto", cursive;
  background-image: url(../assets/redwood.jpg);
  height: 8vh;
  color: darkgoldenrod;

  box-shadow: 8px 9px 10px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 8px 9px 10px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 9px 10px -6px rgba(0, 0, 0, 0.75);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  background-image: url(../assets/redwood.jpg);
  width: 80vw;
  height: 60vh;
  font-family: "Aboreto", cursive;
  font-weight: bold;
  border-radius: 6px;
  text-align: center;
  color: darkgoldenrod;
  padding: 30px;
  border: 2px solid darkgoldenrod;
  box-shadow: 10px 12px 10px 11px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 12px 10px 11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 12px 10px 11px rgba(0, 0, 0, 0.75);
}

a {
  text-decoration: none;
  color: rgb(100, 100, 228);
  cursor: pointer;
}

.form-container input {
  margin: 20px;
  width: 60vw;
  height: 40px;
}

button {
  margin: 15px;
  padding: 12px;
  font-size: 18px;
  width: 200px;
  align-self: center;
  background-image: url(../assets/white-square.jpg);
  border: 2px solid black;
  cursor: pointer;
  font-family: "Aboreto", cursive;
  font-weight: bold;
}

button:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}

#signup-form #change-button {
  justify-self: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
