* {
    box-sizing: border-box;
}

body {
    background-color:rgb(63, 78, 79); 
    background-image: url(../assets/marble1.jpg);
}

main {
    display: grid;
    grid-template-rows: 25% auto;
    justify-content: center;
    margin-top: 20px;
    height: 900px;
    
}

.new-game-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 40px;
}

.games-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;

}

.games-container div {
    margin: 20px;
    padding: 30px;
    background-color: aqua;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Aboreto', cursive;
    background-color: rgb(216, 204, 163);;
    height: 70px;
    color: rgb(63, 78, 79);

}